:root {
	--primary-color: #2875d9;
}

@font-face {
	font-family: 'Computer Modern';
	font-style: normal;
	font-weight: normal;
	src: url('./latex/cmunrm.ttf');
}

@font-face {
	font-family: 'Computer Modern';
	font-style: italic;
	font-weight: normal;
	src: url('./latex/cmunti.ttf');
}

@font-face {
	font-family: 'Computer Modern';
	font-style: normal;
	font-weight: bold;
	src: url('./latex/cmunbx.ttf');
}

@font-face {
	font-family: 'Computer Modern';
	font-style: italic;
	font-weight: bold;
	src: url('./latex/cmunbi.ttf');
}

@font-face {
	font-family: 'Computer Modern Mono';
	font-style: normal;
	font-weight: normal;
	src: url('./latex/cmunttr.ttf');
}

@font-face {
	font-family: 'Computer Modern Mono';
	font-style: italic;
	font-weight: normal;
	src: url('./latex/cmuntti.ttf');
}

@font-face {
	font-family: 'Computer Modern Mono';
	font-style: italic;
	font-weight: bold;
	src: url('./latex/cmunttbi.ttf');
}

@font-face {
	font-family: 'Computer Modern Mono';
	font-style: normal;
	font-weight: bold;
	src: url('./latex/cmunttb.ttf');
}

* {
	box-sizing: border-box;
}

html, body, #write {
	font-family: 'Computer Modern';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Computer Modern';
	border-bottom: solid 1px black;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

html {
	font-size: 12px;
}

body, #write {
	max-width: 210mm;
	text-align: justify;
	display: block;
	margin: auto;
}

p {
	font-size: 1rem;
}

a {
	color: var(--primary-color);
}

/* Stuff */

sup.md-footnote {
	background-color: transparent;
	color: var(--primary-color);
	padding: 1px;
	margin: 0;
}

code, .md-fences, .sourceCode {
	font-family: "Computer Modern Mono" !important;
	font-size: 0.9rem !important;
}

.md-fences, .sourceCode {
	border: solid 1px black;
}

.md-fences, pre.sourceCode {
	font-size: .7em;
	padding: .5rem;
}

.show-fences-line-number .md-fences {
	padding-left: .5rem;
}

blockquote {
	margin: 2rem .2rem;
	padding: .3rem .5rem;
	border-left: 1px solid black;
	font-style: italic;
	text-align: left !important;
}

blockquote p {
	padding: .2rem 1.5rem;
}

mark {
	background: yellow;
}

figure {
	margin: .5rem auto;
	max-width: 100%;
	display: block;
	margin: auto;
}

figcaption {
	text-align: center;
	margin: .5rem auto;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}


.task-list{
	padding:0;
}

.md-task-list-item {
	padding-left: 1.6rem;
}

.md-task-list-item > input:before {
	content: '\221A';
	display: inline-block;
	width: 1.33333333rem;
  	height: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: #ddd;
	background-color: #fefefe;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before{
	color: inherit;
}
.md-tag {
	color: inherit;
	font: inherit;
}
#write pre.md-meta-block {
	min-height: 35px;
	padding: 0.5em 1em;
}
#write pre.md-meta-block {
	white-space: pre;
	background: #f8f8f8;
	border: 0px;
	color: #999;
	
	width: 100vw;
	max-width: calc(100% + 60px);
	margin-left: -30px;
	border-left: 30px #f8f8f8 solid;
	border-right: 30px #f8f8f8 solid;

	margin-bottom: 2em;
	margin-top: -1.3333333333333rem;
	padding-top: 26px;
	padding-bottom: 10px;
	line-height: 1.8em;
	font-size: 0.9em;
	font-size: 0.76em;
	padding-left: 0;
}
.md-img-error.md-image>.md-meta{
	vertical-align: bottom;
}
#write>h5.md-focus:before {
	top: 2px;
}

.md-toc {
	margin-top: 40px;
}

.md-toc-content {
	padding-bottom: 20px;
}

.outline-expander:before {
	color: inherit;
	font-size: 14px;
	top: auto;
	content: "\f0da";
	font-family: FontAwesome;
}

.outline-expander:hover:before,
.outline-item-open>.outline-item>.outline-expander:before {
  	content: "\f0d7";
}


/* 
    Print Mode and page breaks.
    WkhtmlToPDF does not work on @print mode
*/

@media (max-width: 210mm) {
	img {
		max-height: 8cm;
	}
	html {
		font-size: 12px;
	}
	div[title="pb"], page-break {
		display: block;
		page-break-after: always;
		break-after: page;
	}
	nav {
		font-size: .9rem;
		page-break-after: always;
		page-break-before: always;
	}
	nav a {
		color: black;
	}
	/* Move top-level headings to a new page on the right-hand side: */
	h1, h2 {
		page-break-before: avoid;
		break-before: avoid;
	}
	/* Override the previous ruleset for the very first heading: */
	h1:first-of-type, section>h1:first-child {
		page-break-before: avoid;
		break-before: avoid;
	}
	/* Headings should not be the last paragraph on a page: */
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	/* Consecutive headings with deepening level should not be split across pages: */
	h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
		page-break-before: avoid;
	}
}